In [29]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [30]:
#leemos el .csv y guardamos en una variable
Lectura=pd.read_csv("./../datosConcatenados/datosConcatenados.csv")

In [31]:
#Visualizamos el contenido
Lectura.head()

,Unnamed: 0,danho,ciclo,Cod.Asign,Asignatura,Cod.Car.Sec,Cod.Curso,Convocatoria,Anho,Semestre,...,Segundo.Par,AOT,Primer.Rec,Segundo.Rec,Nota.Final,Tercer.Par,Asis,Cuarto.Par,4P_60,id_anony
0,0,2012,1,2402,COMBUSTION,INT9MECANI,13,1,2012,1,...,0,0,0,0,NaN,0.0,1.0,NaN,NaN,es_0
1,1,2012,1,2402,COMBUSTION,MEC9-OPT,13,1,2012,1,...,14,8,0,0,1F-5,0.0,1.0,NaN,NaN,es_1
2,2,2012,1,2402,COMBUSTION,INT9MECANI,13,1,2012,1,...,23,9,0,0,1F-5,0.0,1.0,NaN,NaN,es_2
3,3,2012,1,2402,COMBUSTION,MEC9-OPT,13,1,2012,1,...,14,8,0,0,"1F-1,2F-2",0.0,1.0,NaN,NaN,es_3
4,4,2012,1,2402,COMBUSTION,MEC9-OPT,13,1,2012,1,...,4,8,0,0,NaN,0.0,1.0,NaN,NaN,es_4

In [32]:
#Visualizamos que tamaño tienen los datos
Lectura.shape

(221921, 23)

In [33]:
#Hay valores nulos en los datos?
Lectura.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 221921 entries, 0 to 221920
Data columns (total 23 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Unnamed: 0    221921 non-null  int64
 1   danho         221921 non-null  int64
 2   ciclo         221921 non-null  int64
 3   Cod.Asign     221921 non-null  int64
 4   Asignatura    221921 non-null  object
 5   Cod.Car.Sec   221921 non-null  object
 6   Cod.Curso     221921 non-null  int64
 7   Convocatoria  221921 non-null  int64
 8   Anho          221921 non-null  int64
 9   Semestre      221921 non-null  int64
 10  Aprobado      221921 non-null  object
 11  Anho.Firma    221921 non-null  int64
 12  Primer.Par    221921 non-null  int64
 13  Segundo.Par   221921 non-null  int64
 14  AOT           221921 non-null  int64
 15  Primer.Rec    221921 non-null  int64
 16  Segundo.Rec   221921 non-null  int64
 17  Nota.Final    137115 non-null  object
 18  Tercer.Par    221921 non-null  float64
 19  Asis          221921 non-null  float64
 20  Cuarto.Par    28045 non-null   float64
 21  4P_60         28045 non-null   float64
 22  id_anony      221921 non-null  object
dtypes: float64(4), int64(14), object(5)
memory usage: 38.9+ MB

In [34]:
np.unique(Lectura["Cod.Car.Sec"])

array(['CGF-175-09', 'CGF-PLS09 ', 'CGF-PLS13 ', 'CIV-175-09',
       'CIV-PLS09 ', 'CIV-PLS13 ', 'ECA-175-09', 'ECA-PLS09 ',
       'ECA-PLS13 ', 'ECA9-OPT  ', 'ELE-175-09', 'ELE-PLS09 ',
       'ELE-PLS13 ', 'IND-175-09', 'IND-PLS09 ', 'IND-PLS13 ',
       'INT9-PROYT', 'INT9CONSTR', 'INT9ELECTR', 'INT9G-ECO ',
       'INT9MECANI', 'INT9ORTERR', 'INT9RNYMA ', 'INT9SANEHI',
       'INT9SDIGYT', 'INT9TRANSP', 'MCT-175-09', 'MCT-PLS09 ',
       'MCT-PLS13 ', 'MCT9-OPT  ', 'MEC-175-09', 'MEC-PLS09 ',
       'MEC-PLS13 ', 'MEC9-OPT  ', 'TIVAS     '], dtype=object)

In [91]:
carrera=pd.DataFrame(columns=Lectura.columns)
for car in ['CIV-175-09','CIV-PLS09 ', 'CIV-PLS13 ']:
    carrera=pd.concat([carrera, Lectura[Lectura["Cod.Car.Sec"]==car]], axis=0)

In [92]:
np.unique(carrera["Cod.Car.Sec"])

array(['CIV-175-09', 'CIV-PLS09 ', 'CIV-PLS13 '], dtype=object)

In [94]:
estudiantes=np.unique(carrera["id_anony"])
len(estudiantes)

4069

In [111]:
for ides in estudiantes:
    registro=carrera[carrera.id_anony.values==ides]
    #np.sum(registro["Cod.Curso"].values==1)>=1 and np.sum(registro["Cod.Curso"].values==5)>=1
    if(np.sum(registro["Cod.Curso"]==2)):
        break
registro

,Unnamed: 0,danho,ciclo,Cod.Asign,Asignatura,Cod.Car.Sec,Cod.Curso,Convocatoria,Anho,Semestre,...,Segundo.Par,AOT,Primer.Rec,Segundo.Rec,Nota.Final,Tercer.Par,Asis,Cuarto.Par,4P_60,id_anony
810,810,2012,1,5017,DINAMICA,CIV-PLS09,4,1,2012,1,...,15,0,0,0,NaN,0.0,0.0,NaN,NaN,es_104
1200,1200,2012,1,5018,MECANICA DE MATERIALES 1,CIV-PLS09,4,1,2012,1,...,3,0,0,0,NaN,0.0,1.0,NaN,NaN,es_104
1488,1488,2012,1,5102,ESTRUCTURAS 1,CIV-PLS09,4,1,2012,1,...,4,2,20,0,NaN,0.0,1.0,NaN,NaN,es_104
5287,5287,2012,1,9005,CALCULO 2,CIV-PLS09,2,1,2012,1,...,11,2,12,0,3F-5,0.0,0.0,NaN,NaN,es_104
5656,5656,2012,1,9006,FISICA 2,CIV-PLS09,2,1,2012,1,...,3,6,0,0,NaN,0.0,1.0,NaN,NaN,es_104
121397,11306,2017,2,5012,CALCULO 3,CIV-PLS09,3,1,2017,2,...,0,1,0,0,NaN,0.0,1.0,NaN,NaN,es_104
121635,11544,2017,2,5106,TOPOGRAFIA,CIV-PLS09,5,1,2017,2,...,0,22,0,0,NaN,0.0,1.0,NaN,NaN,es_104
121676,11585,2017,2,5107,ESTRUCTURAS 2,CIV-PLS09,5,1,2017,2,...,13,2,0,0,NaN,0.0,1.0,NaN,NaN,es_104
121864,11773,2017,2,5118,HORMIGON ARMADO 1,CIV-PLS09,7,1,2017,2,...,4,7,0,0,NaN,0.0,1.0,NaN,NaN,es_104
121949,11858,2017,2,5120,CONSTRUCCIONES 2,CIV-PLS09,7,1,2017,2,...,0,0,0,0,2F-3,0.0,0.0,NaN,NaN,es_104
121986,11895,2017,2,5126,PROGRAMACION Y CONTROL DE OBRA,CIV-PLS09,9,1,2017,2,...,16,10,0,0,3F-2,0.0,1.0,NaN,NaN,es_104
122179,12088,2017,2,5130,GESTION DE CALIDAD,CIV-PLS09,9,1,2017,2,...,19,7,0,0,NaN,0.0,1.0,NaN,NaN,es_104
133644,10156,2018,1,5012,CALCULO 3,CIV-PLS09,3,1,2018,1,...,9,2,6,0,NaN,0.0,1.0,NaN,NaN,es_104
133730,10242,2018,1,5015,FISICA 4,CIV-PLS09,4,1,2018,1,...,5,0,0,0,NaN,0.0,1.0,NaN,NaN,es_104
133792,10304,2018,1,5017,DINAMICA,CIV-PLS09,4,1,2018,1,...,1,2,0,0,NaN,0.0,1.0,NaN,NaN,es_104
133919,10431,2018,1,5109,ESTRUCTURA METALICA Y DE MADERAS,CIV-PLS09,6,1,2018,1,...,5,9,0,0,NaN,0.0,1.0,NaN,NaN,es_104
134235,10747,2018,1,5132,SEGURIDAD EN OBRAS,CIV-PLS09,10,1,2018,1,...,0,0,0,0,2F-2,0.0,1.0,NaN,NaN,es_104
169038,5250,2019,2,13013,CALCULO 3,CIV-PLS13,3,2,2019,2,...,0,0,0,0,NaN,0.0,1.0,NaN,NaN,es_104
170103,6315,2019,2,13016,FISICA 4,CIV-PLS13,4,2,2019,2,...,0,5,0,0,NaN,0.0,1.0,NaN,NaN,es_104
171785,7997,2019,2,13106,TOPOGRAFIA,CIV-PLS13,5,1,2019,2,...,2,22,0,0,NaN,0.0,1.0,NaN,NaN,es_104
171925,8137,2019,2,13107,ESTRUCTURAS 2,CIV-PLS13,5,1,2019,2,...,15,2,0,0,NaN,0.0,1.0,NaN,NaN,es_104

In [69]:
len(registro)

22

In [60]:
Malla.groupby(['Cod.Curso','Anho','Aprobado']).count()['id_anony']

Cod.Curso  Anho  Aprobado
1          2012  N           127
                 S           424
           2013  N           330
                 S           584
           2014  N           268
                            ...
10         2019  N           179
                 S           476
           2020  N           251
                 S           755
           2021  N           300
Name: id_anony, Length: 191, dtype: int64

In [53]:
Conteo=Malla.groupby(['Cod.Curso','Anho','Asignatura','id_anony',]).count()['Aprobado']

In [54]:
#Conteo.head(65)
#Conteo=Conteo.unstack(level=0)
Conteo.head(65)

Cod.Curso  Anho  Asignatura        id_anony
1          2012  ALGEBRA LINEAL 1  es_1818     1
                                   es_1943     1
                                   es_2015     1
                                   es_2074     1
                                   es_2218     1
                                              ..
                                   es_2927     1
                                   es_2928     1
                                   es_2929     1
                                   es_2933     1
                                   es_2938     1
Name: Aprobado, Length: 65, dtype: int64