In [474]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [655]:
#leemos el .csv y guardamos en una variable  index_col="id_anony"
Lectura=pd.read_csv("datosConcatenadossinCI.csv")

In [656]:
#Visualizamos el contenido
#Lectura.head()

In [657]:
#Visualizamos que tamaño tienen los datos
#print('Tamaño de los datos: ',Lectura.shape)

In [658]:
#Hay valores nulos en los datos?
#Lectura.info()

In [659]:
np.unique(Lectura["Cod.Car.Sec"])

array(['CGF-175-09', 'CGF-PLS09 ', 'CGF-PLS13 ', 'CIV-175-09',
       'CIV-PLS09 ', 'CIV-PLS13 ', 'ECA-175-09', 'ECA-PLS09 ',
       'ECA-PLS13 ', 'ECA9-OPT  ', 'ELE-175-09', 'ELE-PLS09 ',
       'ELE-PLS13 ', 'IND-175-09', 'IND-PLS09 ', 'IND-PLS13 ',
       'INT9-PROYT', 'INT9CONSTR', 'INT9ELECTR', 'INT9G-ECO ',
       'INT9MECANI', 'INT9ORTERR', 'INT9RNYMA ', 'INT9SANEHI',
       'INT9SDIGYT', 'INT9TRANSP', 'MCT-175-09', 'MCT-PLS09 ',
       'MCT-PLS13 ', 'MCT9-OPT  ', 'MEC-175-09', 'MEC-PLS09 ',
       'MEC-PLS13 ', 'MEC9-OPT  ', 'TIVAS     '], dtype=object)

In [660]:
civil=pd.DataFrame(columns=Lectura.columns)
for car in ['CIV-175-09','CIV-PLS09 ', 'CIV-PLS13 ']:
    print(car)
    civil=pd.concat([civil, Lectura[Lectura["Cod.Car.Sec"]==car]], axis=0)

CIV-175-09
CIV-PLS09
CIV-PLS13

In [661]:
neee=pd.DataFrame(columns=civil.columns)
for mat in ['CALCULO 4', 'DINAMICA', 'ESTRUCTURAS 1', 'FISICA 4',
       'MECANICA DE MATERIALES 1']:
    print(mat)
    neee=pd.concat([neee, civil[civil["Asignatura"]==mat]], axis=0)
neee.shape

CALCULO 4
DINAMICA
ESTRUCTURAS 1
FISICA 4
MECANICA DE MATERIALES 1

(8848, 23)

In [662]:
sd=neee[neee["Aprobado"]=="S"]

In [668]:
#d=civil.iloc[['es_123'],["danho"]]
#a=np.max(d)
#b=np.min(d)
#print(a-b)
#a=sd["id_anony"]
#sd[]
#m=np.unique(sd["id_anony"])
#en(nom)
#for i in nom:
#    print(i)

In [484]:
#ad=sd.iloc[[100]]
#d=ad["Asignatura"].str.contains('DINAMICA')
#if d[0]==True:
# print('hola')
#uno=sd["Asignatura"].str.contains('DINAMICA')
#uno
#a=np.unique(sd["id_anony"])

In [497]:
def cantidades (ma):
    d=np.unique(ma["Asignatura"])
    d=len(d)
    if d==5:
        return ma
#    contador=0;
#    if ma=='CALCULO 4':
#        contador=contador+1;
#    if ma=='DINAMICA':
#        contador=contador+1;
#    if ma=='ESTRUCTURAS 1':
#        contador=contador+1;
#    if ma=='FISICA 4':
#        contador=contador+1;
#    if ma=='MECANICA DE MATERIALES 1':
#        contador=contador+1;
#    if contador==5:
#        return ides
    
xd=sd.apply(cantidades, axis=1)
xd.head

<bound method NDFrame.head of 567       None
569       None
577       None
581       None
584       None
          ...
199910    None
199914    None
199919    None
199922    None
199929    None
Length: 4054, dtype: object>

In [ ]:
np.unique(civil["Cod.Car.Sec"])

In [277]:
#carrera["Cod.Curso"]
civil.head()

,Unnamed: 0,danho,ciclo,Cod.Asign,Asignatura,Cod.Car.Sec,Cod.Curso,Convocatoria,Anho,Semestre,...,Primer.Par,Segundo.Par,AOT,Primer.Rec,Segundo.Rec,Nota.Final,Tercer.Par,Asis,Cuarto.Par,4P_60
es_789,1567,2012,1,5108,GEOTECNIA 2,CIV-175-09,6,1,2012,1,...,8,8,10,0,0,NaN,0.0,1.0,NaN,NaN
es_789,1869,2012,1,5112,ESTRUCTURAS 3,CIV-175-09,6,1,2012,1,...,0,0,0,0,0,NaN,0.0,0.0,NaN,NaN
es_789,2125,2012,1,5115,CONTABILIDAD,CIV-175-09,7,1,2012,1,...,16,19,0,0,0,NaN,0.0,1.0,NaN,NaN
es_789,2220,2012,1,5122,VIAS DE COMUNICACION 2,CIV-175-09,8,1,2012,1,...,9,0,0,0,0,NaN,0.0,1.0,NaN,NaN
es_789,2456,2012,1,5134,OBRAS FLUVIALES,CIV-175-09,10,1,2012,1,...,7,8,0,30,0,NaN,0.0,1.0,NaN,NaN

In [311]:
primerS=civil[ (civil["Cod.Curso"]==1) & (civil["Aprobado"]=="S")]
cprimerS=np.unique(primerS["Asignatura"])
len(cprimerS)

6

In [312]:
cuartS=civil[ (civil["Cod.Curso"]==4) & (civil["Aprobado"]=="S")]
ccuartS=np.unique(cuartS["Asignatura"])
len(ccuartS)

5

In [313]:
newcivil=civil[((civil["Cod.Curso"]>3)&(civil["Cod.Curso"]<5)) & (civil["Aprobado"]=="S")]
a=np.unique(newcivil["Asignatura"])
a
#civil=civil[(np.sum(civil["Asignatura"]))]
#estudiantes=np.unique(civil["id_anony"])
#estudiantes.shape

array(['CALCULO 4', 'DINAMICA', 'ESTRUCTURAS 1', 'FISICA 4',
       'MECANICA DE MATERIALES 1'], dtype=object)

In [314]:
newcivil

,Unnamed: 0,danho,ciclo,Cod.Asign,Asignatura,Cod.Car.Sec,Cod.Curso,Convocatoria,Anho,Semestre,...,Primer.Par,Segundo.Par,AOT,Primer.Rec,Segundo.Rec,Nota.Final,Tercer.Par,Asis,Cuarto.Par,4P_60
es_258,407,2012,1,5015,FISICA 4,CIV-PLS09,4,1,2012,1,...,18,19,8,0,0,2F-2,0.0,1.0,NaN,NaN
es_259,408,2012,1,5015,FISICA 4,CIV-PLS09,4,1,2012,1,...,22,21,9,0,0,1F-5,0.0,1.0,NaN,NaN
es_260,410,2012,1,5015,FISICA 4,CIV-PLS09,4,1,2012,1,...,0,0,10,0,0,2F-2,0.0,0.0,NaN,NaN
es_261,411,2012,1,5015,FISICA 4,CIV-PLS09,4,1,2012,1,...,15,12,10,0,0,3F-3,0.0,1.0,NaN,NaN
es_264,414,2012,1,5015,FISICA 4,CIV-PLS09,4,1,2012,1,...,14,20,9,0,0,1F-2,0.0,1.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
es_4104,7441,2020,1,13103,ESTRUCTURAS 1,CIV-PLS13,4,1,2020,1,...,2,6,6,0,0,1F-5,11.0,1.0,34.0,57.0
es_4134,7444,2020,1,13103,ESTRUCTURAS 1,CIV-PLS13,4,1,2020,1,...,4,7,10,0,0,1F-5,8.0,1.0,33.0,55.0
es_3745,7448,2020,1,13103,ESTRUCTURAS 1,CIV-PLS13,4,1,2020,1,...,4,4,10,0,0,1F-3,0.0,1.0,26.0,43.0
es_4156,7452,2020,1,13103,ESTRUCTURAS 1,CIV-PLS13,4,1,2020,1,...,2,12,10,0,0,1F-5,12.0,1.0,32.0,53.0
es_4189,7454,2020,1,13103,ESTRUCTURAS 1,CIV-PLS13,4,1,2020,1,...,7,5,10,0,0,1F-5,12.0,1.0,36.0,60.0

In [326]:
min(np.unique(newcivil["Cod.Curso"]))

4

In [309]:
def contarmaterias(fin):
    fin = columna["Asignatura"]

In [592]:
#acivil=newcivil[ (newcivil["Asignatura"]=="FISICA 4")]# & 
#                (newcivil["Asignatura"]=="ESTRUCTURAS 1")]
#           & (newcivil["Asignatura"]=="CALCULO 4") & (newcivil["Asignatura"]=="MECANICA DE MATERIALES 1")
#           & (newcivil["Asignatura"]=="ESTRUCTURAS 1")]

In [591]:
#'es_4104'
#primerS.loc[['es_4134']]

In [590]:
#Lectura.loc[['es_4104']]

In [589]:
#civil.shape

In [588]:
#a=civil.loc[['es_300']]
#a

In [587]:
#np.unique(civil["Asignatura"])

In [586]:
#fisica 4, calculo 4 dinamica mecanica de materiales 1 estructuras
#filtro=np.logical_and(civil.Asignatura.values==["FISICA 4","CALCULO 4",], civil["Aprobado"]=="S")
#filtro1=civil[filtro]
#filtro1.shape

In [409]:
#filtro1.head(50)

In [585]:
#filtro=np.logical_and(filtro1.Asignatura.values=="CALCULO 4", filtro1["Aprobado"]=="S")
#filtro2=filtro1[filtro]
#filtro2.shape

In [584]:
#filtro=np.logical_and(civil.Asignatura.values=="DINAMICA", civil["Aprobado"]=="S")
#filtro3=civil[filtro]
#filtro3.shape

In [583]:
#new_car=carrera[carrera["Cod.Curso"]<5]

In [582]:
#estudiantes=np.unique(new_car["id_anony"])

In [581]:
#estudiantes

In [146]:
#type(new_car["id_anony"])

In [580]:
#id_new=new_car[new_car["id_anony"].str.contains('es_1857')]
#id_new.shape

In [579]:
#new_car["Cod.Curso"].values==3

In [578]:
#for ides in estudiantes:
#    registro=new_car[new_car.id_anony.values==ides]
    #np.sum(registro["Cod.Curso"].values==1)>=1 and np.sum(registro["Cod.Curso"].values==5)>=1
#    if():
#        break
#registro

In [408]:
#len(registro)

In [407]:
#Malla.groupby(['Cod.Curso','Anho','Aprobado']).count()['id_anony']

In [406]:
#Conteo=Malla.groupby(['Cod.Curso','Anho','Asignatura','id_anony',]).count()['Aprobado']