In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
Lectura=pd.read_csv("datosConcatenados/datosConcatenados.csv")

In [6]:
Lectura.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 221921 entries, 0 to 221920
Data columns (total 23 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Unnamed: 0    221921 non-null  int64
 1   danho         221921 non-null  int64
 2   ciclo         221921 non-null  int64
 3   Cod.Asign     221921 non-null  int64
 4   Asignatura    221921 non-null  object
 5   Cod.Car.Sec   221921 non-null  object
 6   Cod.Curso     221921 non-null  int64
 7   Convocatoria  221921 non-null  int64
 8   Anho          221921 non-null  int64
 9   Semestre      221921 non-null  int64
 10  Aprobado      221921 non-null  object
 11  Anho.Firma    221921 non-null  int64
 12  Primer.Par    221921 non-null  int64
 13  Segundo.Par   221921 non-null  int64
 14  AOT           221921 non-null  int64
 15  Primer.Rec    221921 non-null  int64
 16  Segundo.Rec   221921 non-null  int64
 17  Nota.Final    137115 non-null  object
 18  Tercer.Par    221921 non-null  float64
 19  Asis          221921 non-null  float64
 20  Cuarto.Par    28045 non-null   float64
 21  4P_60         28045 non-null   float64
 22  id_anony      221921 non-null  object
dtypes: float64(4), int64(14), object(5)
memory usage: 38.9+ MB