IMPORTACION DE LIBRERIAS

In [185]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

LECTURA DE DATOS

In [186]:
Lectura=pd.read_csv("datosConcatenadossinCI.csv")

VISUALIZAMOS LOS PRIMEROS DATOS

In [188]:
Lectura.head()

,Unnamed: 0,danho,ciclo,Cod.Asign,Asignatura,Cod.Car.Sec,Cod.Curso,Convocatoria,Anho,Semestre,...,Segundo.Par,AOT,Primer.Rec,Segundo.Rec,Nota.Final,Tercer.Par,Asis,Cuarto.Par,4P_60,id_anony
0,0,2012,1,2402,COMBUSTION,INT9MECANI,13,1,2012,1,...,0,0,0,0,NaN,0.0,1.0,NaN,NaN,es_0
1,1,2012,1,2402,COMBUSTION,MEC9-OPT,13,1,2012,1,...,14,8,0,0,1F-5,0.0,1.0,NaN,NaN,es_1
2,2,2012,1,2402,COMBUSTION,INT9MECANI,13,1,2012,1,...,23,9,0,0,1F-5,0.0,1.0,NaN,NaN,es_2
3,3,2012,1,2402,COMBUSTION,MEC9-OPT,13,1,2012,1,...,14,8,0,0,"1F-1,2F-2",0.0,1.0,NaN,NaN,es_3
4,4,2012,1,2402,COMBUSTION,MEC9-OPT,13,1,2012,1,...,4,8,0,0,NaN,0.0,1.0,NaN,NaN,es_4

In [159]:
#Visualizamos que tamaño tienen los datos
#print('Tamaño de los datos: ',Lectura.shape)

In [160]:
#Hay valores nulos en los datos?
#Lectura.info()

ANALIZAMOS LOS CODIGO DE CARRERAS

In [189]:
np.unique(Lectura["Cod.Car.Sec"])

array(['CGF-175-09', 'CGF-PLS09 ', 'CGF-PLS13 ', 'CIV-175-09',
       'CIV-PLS09 ', 'CIV-PLS13 ', 'ECA-175-09', 'ECA-PLS09 ',
       'ECA-PLS13 ', 'ECA9-OPT  ', 'ELE-175-09', 'ELE-PLS09 ',
       'ELE-PLS13 ', 'IND-175-09', 'IND-PLS09 ', 'IND-PLS13 ',
       'INT9-PROYT', 'INT9CONSTR', 'INT9ELECTR', 'INT9G-ECO ',
       'INT9MECANI', 'INT9ORTERR', 'INT9RNYMA ', 'INT9SANEHI',
       'INT9SDIGYT', 'INT9TRANSP', 'MCT-175-09', 'MCT-PLS09 ',
       'MCT-PLS13 ', 'MCT9-OPT  ', 'MEC-175-09', 'MEC-PLS09 ',
       'MEC-PLS13 ', 'MEC9-OPT  ', 'TIVAS     '], dtype=object)

SEPARAMOS LOS DATOS PARA SER ANALIZDOS:
En este caso seleccione  los de la carrera de ING. CIVIL

In [193]:
civil=pd.DataFrame(columns=Lectura.columns)
for car in ['CIV-175-09','CIV-PLS09 ', 'CIV-PLS13 ']:
    print(car)
    civil=pd.concat([civil, Lectura[Lectura["Cod.Car.Sec"]==car]], axis=0)

CIV-175-09
CIV-PLS09
CIV-PLS13

MATERIAS DEL PRIMER SEMESTRE

In [194]:
primerS=civil[ (civil["Cod.Curso"]==1) & (civil["Aprobado"]=="S")]
CprimerS=np.unique(primerS["Asignatura"])
cprimerS

array(['ALGEBRA LINEAL 1', 'CALCULO 1', 'DIBUJO TECNICO', 'FISICA 1',
       'GEOMETRIA ANALITICA', 'GEOMETRIA DESCRIPTIVA'], dtype=object)

FILTRO LOS ID QUE CURSARON TODAS MATERIAS DEL CUARTO SEMESTRE

In [202]:
newdata=pd.DataFrame(columns=civil.columns)
for mat in ['CALCULO 4', 'DINAMICA', 'ESTRUCTURAS 1', 'FISICA 4',
       'MECANICA DE MATERIALES 1']:
    newdata=pd.concat([newdata, civil[civil["Asignatura"]==mat]], axis=0)
    print(mat)
print('Cantidad de elementos',newdata.shape)

CALCULO 4
DINAMICA
ESTRUCTURAS 1
FISICA 4
MECANICA DE MATERIALES 1
Cantidad de elementos (8848, 23)

SEGUIDAMENTE FILTRO SOLO LOS QUE TIENEN APROBADO ESAS MATERIAS

In [203]:
sd=newdata[newdata["Aprobado"]=="S"]
print('Cantidad de elementos',sd.shape)

Cantidad de elementos (4054, 23)

In [39]:
estudiantes=np.unique(sd['id_anony'])
materias=np.unique(sd['Asignatura'])
len(estudiantes)
len(materias)

5

In [150]:
Alumnos=[]
Duracion=[]

In [163]:

for ides in estudiantes:
    registro=civil[civil.id_anony.values==ides]
    regis=civil[civil.id_anony.values==ides]
    regi=np.sum((regis["Cod.Curso"].values==1))
    a=np.sum((registro["Asignatura"].values=="CALCULO 4"))
    a=a+np.sum((registro["Asignatura"].values=="DINAMICA"))
    a=a+np.sum((registro["Asignatura"].values=="ESTRUCTURAS 1"))
    a=a+np.sum((registro["Asignatura"].values=="FISICA 4"))
    a=a+np.sum((registro["Asignatura"].values=="MECANICA DE MATERIALES 1"))
   
    if (a==5)&regi>0:
        ides
        AnhoIn=min(civil["danho"])
        AnhoFin=max(registro["danho"])
        Tiempo=AnhoFin-AnhoIn
        Alumnos.append(ides)
        Duracion.append(Tiempo)
        #print(ides,Tiempo)

In [183]:
Datos=pd.DataFrame({'Alumnos':Alumnos,'Duracion':Duracion})
Datos.shape

(135, 2)

In [311]:
primerS=civil[ (civil["Cod.Curso"]==1) & (civil["Aprobado"]=="S")]
cprimerS=np.unique(primerS["Asignatura"])
len(cprimerS)

6

In [312]:
cuartS=civil[ (civil["Cod.Curso"]==4) & (civil["Aprobado"]=="S")]
ccuartS=np.unique(cuartS["Asignatura"])
len(ccuartS)

5

In [313]:
newcivil=civil[((civil["Cod.Curso"]>3)&(civil["Cod.Curso"]<5)) & (civil["Aprobado"]=="S")]
a=np.unique(newcivil["Asignatura"])
a
#civil=civil[(np.sum(civil["Asignatura"]))]
#estudiantes=np.unique(civil["id_anony"])
#estudiantes.shape

array(['CALCULO 4', 'DINAMICA', 'ESTRUCTURAS 1', 'FISICA 4',
       'MECANICA DE MATERIALES 1'], dtype=object)

In [ ]:
#'es_4104'
#primerS.loc[['es_4134']]