In [29]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [30]:
#leemos el .csv y guardamos en una variable
Lectura=pd.read_csv("./../datosConcatenados/datosConcatenados.csv")

In [31]:
#Visualizamos el contenido
Lectura.head()

,Unnamed: 0,danho,ciclo,Cod.Asign,Asignatura,Cod.Car.Sec,Cod.Curso,Convocatoria,Anho,Semestre,...,Segundo.Par,AOT,Primer.Rec,Segundo.Rec,Nota.Final,Tercer.Par,Asis,Cuarto.Par,4P_60,id_anony
0,0,2012,1,2402,COMBUSTION,INT9MECANI,13,1,2012,1,...,0,0,0,0,NaN,0.0,1.0,NaN,NaN,es_0
1,1,2012,1,2402,COMBUSTION,MEC9-OPT,13,1,2012,1,...,14,8,0,0,1F-5,0.0,1.0,NaN,NaN,es_1
2,2,2012,1,2402,COMBUSTION,INT9MECANI,13,1,2012,1,...,23,9,0,0,1F-5,0.0,1.0,NaN,NaN,es_2
3,3,2012,1,2402,COMBUSTION,MEC9-OPT,13,1,2012,1,...,14,8,0,0,"1F-1,2F-2",0.0,1.0,NaN,NaN,es_3
4,4,2012,1,2402,COMBUSTION,MEC9-OPT,13,1,2012,1,...,4,8,0,0,NaN,0.0,1.0,NaN,NaN,es_4

In [32]:
#Visualizamos que tamaño tienen los datos
Lectura.shape

(221921, 23)

In [33]:
#Hay valores nulos en los datos?
Lectura.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 221921 entries, 0 to 221920
Data columns (total 23 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Unnamed: 0    221921 non-null  int64
 1   danho         221921 non-null  int64
 2   ciclo         221921 non-null  int64
 3   Cod.Asign     221921 non-null  int64
 4   Asignatura    221921 non-null  object
 5   Cod.Car.Sec   221921 non-null  object
 6   Cod.Curso     221921 non-null  int64
 7   Convocatoria  221921 non-null  int64
 8   Anho          221921 non-null  int64
 9   Semestre      221921 non-null  int64
 10  Aprobado      221921 non-null  object
 11  Anho.Firma    221921 non-null  int64
 12  Primer.Par    221921 non-null  int64
 13  Segundo.Par   221921 non-null  int64
 14  AOT           221921 non-null  int64
 15  Primer.Rec    221921 non-null  int64
 16  Segundo.Rec   221921 non-null  int64
 17  Nota.Final    137115 non-null  object
 18  Tercer.Par    221921 non-null  float64
 19  Asis          221921 non-null  float64
 20  Cuarto.Par    28045 non-null   float64
 21  4P_60         28045 non-null   float64
 22  id_anony      221921 non-null  object
dtypes: float64(4), int64(14), object(5)
memory usage: 38.9+ MB

In [34]:
np.unique(Lectura["Cod.Car.Sec"])

array(['CGF-175-09', 'CGF-PLS09 ', 'CGF-PLS13 ', 'CIV-175-09',
       'CIV-PLS09 ', 'CIV-PLS13 ', 'ECA-175-09', 'ECA-PLS09 ',
       'ECA-PLS13 ', 'ECA9-OPT  ', 'ELE-175-09', 'ELE-PLS09 ',
       'ELE-PLS13 ', 'IND-175-09', 'IND-PLS09 ', 'IND-PLS13 ',
       'INT9-PROYT', 'INT9CONSTR', 'INT9ELECTR', 'INT9G-ECO ',
       'INT9MECANI', 'INT9ORTERR', 'INT9RNYMA ', 'INT9SANEHI',
       'INT9SDIGYT', 'INT9TRANSP', 'MCT-175-09', 'MCT-PLS09 ',
       'MCT-PLS13 ', 'MCT9-OPT  ', 'MEC-175-09', 'MEC-PLS09 ',
       'MEC-PLS13 ', 'MEC9-OPT  ', 'TIVAS     '], dtype=object)

In [35]:
Malla=pd.DataFrame(columns=Lectura.columns)
for car in ['CIV-175-09','CIV-PLS09 ', 'CIV-PLS13 ']:
    Malla=pd.concat([Malla, Lectura[Lectura["Cod.Car.Sec"]==car]], axis=0)

In [36]:
np.unique(Malla["Cod.Car.Sec"])

array(['CIV-175-09', 'CIV-PLS09 ', 'CIV-PLS13 '], dtype=object)

In [47]:
estudiantes=np.unique(Malla["id_anony"])
len(estudiantes)

4069

In [89]:
np.sum(Malla["Cod.Curso"].values==4)

8848

In [78]:
for ides in estudiantes:
    registro=Malla[Malla.id_anony.values==ides]
    #np.sum(registro["Cod.Curso"].values==1)>=1 and np.sum(registro["Cod.Curso"].values==5)>=1
    if(registro["Cod.Curso"].values <=4):
        break
registro

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()

In [69]:
len(registro)

22

In [60]:
Malla.groupby(['Cod.Curso','Anho','Aprobado']).count()['id_anony']

Cod.Curso  Anho  Aprobado
1          2012  N           127
                 S           424
           2013  N           330
                 S           584
           2014  N           268
                            ...
10         2019  N           179
                 S           476
           2020  N           251
                 S           755
           2021  N           300
Name: id_anony, Length: 191, dtype: int64

In [53]:
Conteo=Malla.groupby(['Cod.Curso','Anho','Asignatura','id_anony',]).count()['Aprobado']

In [54]:
#Conteo.head(65)
#Conteo=Conteo.unstack(level=0)
Conteo.head(65)

Cod.Curso  Anho  Asignatura        id_anony
1          2012  ALGEBRA LINEAL 1  es_1818     1
                                   es_1943     1
                                   es_2015     1
                                   es_2074     1
                                   es_2218     1
                                              ..
                                   es_2927     1
                                   es_2928     1
                                   es_2929     1
                                   es_2933     1
                                   es_2938     1
Name: Aprobado, Length: 65, dtype: int64